.reset-password1 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.reset-password,
.reset-password-wrapper {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.reset-password-wrapper {
  width: 534px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-32xl) 0 50px;
  max-width: 100%;
}
.reset-password {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-500);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 227px var(--padding-xl) 366px;
  gap: 67px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 750px) {
  .reset-password1 {
    font-size: var(--font-size-19xl);
  }
}
@media screen and (max-width: 675px) {
  .reset-password-wrapper {
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }
  .reset-password {
    gap: var(--gap-14xl);
  }
}
@media screen and (max-width: 450px) {
  .reset-password1 {
    font-size: var(--font-size-10xl);
  }
  .reset-password {
    gap: var(--gap-mid);
  }
}
