.email-password-inputs {
  border: 0;
  background-color: transparent;
  flex: 1;
  font-family: var(--font-raleway);
  font-size: var(--h3-size);
  color: var(--color-white);
  min-width: 247px;
  max-width: 100%;
}
.email-password {
  width: 449px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lgi) var(--padding-4xs);
  box-sizing: border-box;
  max-width: 100%;
}
