.forgot-password1 {
  margin: 0;
  width: 537px;
  position: relative;
  font-size: inherit;
  line-height: 52px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 107%;
  flex-shrink: 0;
}
.container,
.enter-your-email {
  font-size: var(--h1-size);
  color: var(--color-white);
}
.enter-your-email {
  width: 537px;
  height: 48px;
  position: relative;
  letter-spacing: 0.15px;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  max-width: 107%;
}
.container {
  border: 0;
  background-color: transparent;
  font-family: var(--font-open-sans);
  max-width: 100%;
}
.button2,
.container {
  align-self: stretch;
}
.frame-parent20,
.password-01 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frame-parent20 {
  width: 537px;
  align-items: flex-start;
  padding: 0 var(--padding-39xl) 0 0;
  gap: var(--gap-5xl);
  max-width: 107%;
  flex-shrink: 0;
}
.password-01 {
  width: 534px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-500);
  align-items: center;
  padding: var(--padding-3xs) 0 var(--padding-lg) var(--padding-9xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--o);
  font-family: var(--font-open-sans);
}
@media screen and (max-width: 750px) {
  .forgot-password1 {
    font-size: var(--font-size-7xl);
    line-height: 42px;
  }
}
@media screen and (max-width: 675px) {
  .frame-parent20 {
    padding-right: var(--padding-10xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .forgot-password1 {
    font-size: var(--font-size-lgi);
    line-height: 31px;
  }
}
